
    <div class="c-activities" id="dzialania-projektowe">
        <div class="o-scroll js-scroll">
            <p>Działania projektowe</p>
            <p>Działania projektowe</p>
            <p>Działania projektowe</p>
            <p>Działania projektowe</p>
        </div>
        
        <div class="swiper-container js-activitiesSwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <h2>Książka:</h2>
    
                    <div class="o-num">
                        <img src=<%= require("./img/activities/01.svg") %> alt="1" />
                    </div>

                    <p>126 polskich marek. Ikony swoich czasów.</p>
                </div>
                
                <div class="swiper-slide">
                    <h2>Baza wiedzy:</h2>
    
                    <div class="o-num">
                        <img src=<%= require("./img/activities/02.svg") %> alt="2" />
                    </div>

                    <p>126marek.pl</p>
                </div>
                
                <div class="swiper-slide">
                    <h2>Webinary:</h2>
    
                    <div class="o-num">
                        <img src=<%= require("./img/activities/03.svg") %> alt="3" />
                    </div>

                    <p>Historie pod znakiem marek</p>
                </div>
                
                <div class="swiper-slide">
                    <h2>Wydarzenie:</h2>
    
                    <div class="o-num">
                        <img src=<%= require("./img/activities/04.svg") %> alt="4" />
                    </div>

                    <p>Konferencja126</p>
                </div>
                
                <div class="swiper-slide">
                    <h2>Ranking publicznosci:</h2>
    
                    <div class="o-num">
                        <img src=<%= require("./img/activities/05.svg") %> alt="5" />
                    </div>

                    <p>Top 30 polskich marek-ikon</p>
                </div>
            </div>
        </div>
    </div>
