
    <div class="c-authors" id="autorzy">
        <div class="o-scroll">
            <p>Autorzy</p>
        </div> 
        
        <div class="o-cols">
            <figure>
                <img data-srcset="<%=require("./img/authors/kotowicz.webp")%> 1x, 
                                 <%=require("./img/authors/kotowicz@2x.webp")%> 2x" data-src=<%=require("./img/authors/kotowicz.webp") %> 
                     class="lazy" width="360" height="668" alt="Bartek Kotowicz">
                     
                <figcaption class="js-fadeInChildren">
                    <h2>Bartek Kotowicz</h2>
                
                    <ul class="js-fadeInChildren">
                        <li>założyciel i&nbsp;członek zarządu IBRA Instytutu Brandingowego</li>
                        <li>dyrektor zarządzący agencji brandingowej Engram </li>
                        <li>pomysłodawca i współautor Przewodnika Brandingowego </li>
                        <li>obecny i&nbsp;były wykładowca Akadamii Górniczo-Hutniczej w&nbsp;Krakowie, Collegium da Vinci w&nbsp;Poznaniu, Wyższej Szkoły Administracji i&nbsp;Biznesu w&nbsp;Gdyni</li>
                        <li>juror konkursów brandingowych KTR, Projekt Roku, Polski Rebranding Roku</li>
                        <li>twórca Indeksu Marek Solidarnych</li>
                        <li>szkoleniowiec, prelegent na konferencjach branżowych, mentor, strateg</li>
                    </ul>
                </figcaption>
            </figure>
            
            <figure>
                <img data-srcset="<%=require("./img/authors/hardziej.webp")%> 1x, 
                                 <%=require("./img/authors/hardziej@2x.webp")%> 2x" data-src=<%=require("./img/authors/hardziej.webp") %> 
                     class="lazy" width="360" height="668" alt="Patryk Hardziej">
                     
                <figcaption class="js-fadeInChildren">
                    <h2>Patryk Hardziej</h2>
                
                    <ul class="js-fadeInChildren">
                        <li>działający międzynarodowo, multidyscyplinarny ilustrator, projektant Hardziej Studio</li>
                        <li>wykładowca Akademii Sztuk Pięknych w&nbsp;Gdańsku</li>
                        <li>założyciel kursów Sztuka Projektowania i&nbsp;Fundacji Karola Śliwki</li>
                        <li>pomysłodawca i&nbsp;kurator Drugiej Ogólnopolskiej Wystawy Znaków Graficznych</li>
                        <li>autor książki "CPN – Znak, Identyfikacja, Historia".</li>
                        <li>laureat branżowych nagród KTR, Projekt Roku, Polish Graphic Design Awards, Dobry Wzór </li>
                    </ul>
                </figcaption>
            </figure>
        </div>
    </div>
