
    <div class="c-idea js-idea" id="idea">
        <div class="c-idea__article">
            <img src=<%= require("./img/idea/article.svg") %> alt="126 polskich marek –ikony swoich czasów, to opowieść o polsce pokazana przez pryzmat marek, na styku; historii, kultury, gospodarki, socjologi i marketingu." />
            
            <i class="o-dot o-dot--126"></i>
            <div class="o-img top-left">
                <img data-srcset="<%=require("./img/idea/126.webp")%> 1x, 
                         <%=require("./img/idea/126@2x.webp")%> 2x" data-src=<%=require("./img/idea/126.webp") %> 
                         class="lazy" width="777" height="565" alt="maluch">
            </div>

            <i class="o-dot o-dot--marek"></i>
            <div class="o-img top-right">            
                <img data-srcset="<%=require("./img/idea/marek.webp")%> 1x, 
                         <%=require("./img/idea/marek@2x.webp")%> 2x" data-src=<%=require("./img/idea/marek.webp") %> 
                         class="lazy" width="777" height="565" alt="heyah">
            </div>

            <i class="o-dot o-dot--to"></i>
            <div class="o-img top-left">
                <img data-srcset="<%=require("./img/idea/to.webp")%> 1x, 
                         <%=require("./img/idea/to@2x.webp")%> 2x" data-src=<%=require("./img/idea/to.webp") %> 
                         class="lazy" width="777" height="565" alt="lot">
             </div>
            
            <i class="o-dot o-dot--socjologii"></i>
            <div class="o-img bottom-left">
                <img data-srcset="<%=require("./img/idea/socjologii.webp")%> 1x, 
                         <%=require("./img/idea/socjologii@2x.webp")%> 2x" data-src=<%=require("./img/idea/socjologii.webp") %> 
                         class="lazy" width="777" height="565" alt="">
            </div>

            <i class="o-dot o-dot--marketingu"></i>
            <div class="o-img bottom-right">
                <img data-srcset="<%=require("./img/idea/marketingu.webp")%> 1x, 
                         <%=require("./img/idea/marketingu@2x.webp")%> 2x" data-src=<%=require("./img/idea/marketingu.webp") %> 
                         class="lazy" width="777" height="565" alt="">
            </div>
     
            <i class="o-dot o-dot--historii"></i>
            <div class="o-img bottom-right">
                <img data-srcset="<%=require("./img/idea/historii.webp")%> 1x, 
                         <%=require("./img/idea/historii@2x.webp")%> 2x" data-src=<%=require("./img/idea/historii.webp") %> 
                         class="lazy" width="777" height="565" alt="">
            </div>


            <i class="o-dot o-dot--przez"></i>
            <div class="o-img center">
                <img data-srcset="<%=require("./img/idea/przez.webp")%> 1x, 
                         <%=require("./img/idea/przez@2x.webp")%> 2x" data-src=<%=require("./img/idea/przez.webp") %> 
                         class="lazy" width="777" height="565" alt="">
            </div>

            <i class="o-dot o-dot--na"></i>
            <div class="o-img center">
                <img data-srcset="<%=require("./img/idea/na.webp")%> 1x, 
                         <%=require("./img/idea/na@2x.webp")%> 2x" data-src=<%=require("./img/idea/na.webp") %> 
                         class="lazy" width="777" height="565" alt="">
            </div>
        </div>
    </div>
